@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }
}

@layer base {
  * {
    @apply yesborder-border;
  }
  body {
    @apply yesbg-background yestext-foreground;
  }
}

#root > main:first-child {
  display: flex;
  @media screen and (max-width: 1024px) {
    display: flex;
    flex-direction: column !important;
  }
}

.flex {
  display: flex;
}

.h-screen {
  height: 100vh;
}

.py-10 {
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
}

.flex-col {
  flex-direction: column;
}

.justify-center {
  justify-content: center;
}

.items-center {
  align-items: center;
}

.flex-1 {
  flex: 1;
}

.object-cover {
  object-fit: cover;
}

.bg-no-repeat {
  background-repeat: no-repeat;
}

.w-50 {
  width: 50%;
}

.hidden {
  display: none;
}

.xl-block {
  @media (min-width: 1280px) {
    display: block;
  }
}

.g-10 {
  gap: 2.5rem;
}

.mb-10 {
  margin-bottom: 2.5rem;
}
.mb-5 {
  margin-bottom: 1.25rem;
}
.sm-w-420 {
  @media screen and (min-width: 640px) {
    width: 420px;
  }
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.gap-2 {
  gap: 0.5rem;
}
body {
  background: #000;
  color: #fff;
}

.h3-bold {
  font-size: 1.3rem;
  font-weight: 700;
}

.md-h2-bold {
  @media screen and (min-width: 768px) {
    font-size: 1.5rem;
    font-weight: 700;
  }
}

.pt-5 {
  padding-top: 1.25rem;
}

.sm-pt-12 {
  @media screen and (min-width: 640px) {
    padding-top: 3rem;
  }
}

.text-light-3 {
  color: #f5f5f5cb;
}

.g-5 {
  gap: 1.25rem;
}

.w-full {
  width: 100%;
}

.mt-4 {
  margin-top: 1rem;
}

.shad-input {
  height: 3rem;
  background-color: #393939;
  border: none;
  &::placeholder {
    color: #f5f5f5cb !important;
  }
  &:focus-visible {
    outline: none !important;
    box-shadow: 0 0 0 1px #7878a3 !important;
  }
}

.shad-button_primary {
  background-color: #877eff;
  transition: all 0.3s ease-in-out;
  &:hover {
    background-color: #6e5eff !important;
  }
}

.text-primary-500 {
  color: #877eff;
}

.text-small-regular {
  font-size: 0.8rem;
  font-weight: 400;
}

.text-light-2 {
  color: #f5f5f5cb;
}

.text-center {
  text-align: center;
}

.semibold {
  font-weight: 600;
}

.md-flex {
  @media screen and (min-width: 768px) {
    display: flex;
  }
}
.bottom-button {
  position: absolute;
  bottom: 2rem;
  width: 18vw;
  z-index: 100;
}
.rootlayout {
  display: contents;
}
.h-full {
  height: 100%;
}

.flex-between {
  display: flex;
  justify-content: space-between;
}

.py-4 {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.px-5 {
  padding-left: 1.25rem;
  padding-right: 1.25rem;
}

.g-3 {
  gap: 0.75rem;
}

.g-4 {
  gap: 1rem;
}

.items-center {
  align-items: center;
}
.justify-w-14 {
  justify-content: space-between;
}
.w-48 {
  width: 12rem;
}
.g-6 {
  gap: 1.5rem;
}
.rounded-full {
  border-radius: 50%;
}
.rounded-lg {
  border-radius: 1rem;
}

.h-8 {
  height: 2rem;
}

.w-8 {
  width: 2rem;
}
.justify-between {
  justify-content: space-between;
}
.home-creators {
  @media screen and (max-width: 1024px) {
    display: none;
  }
}
.mr-1 {
  margin-right: 0.25rem;
}
.g-1 {
  gap: 0.25rem;
}
.g-11 {
  gap: 2.75rem;
}
.mt-4 {
  margin-top: 1rem;
}
.h-14 {
  height: 3.5rem;
}
.w-14 {
  width: 3.5rem;
}
.body-bold {
  font-weight: 700;
}
.small-regular {
  font-size: 0.8rem;
  font-weight: 400;
}
.text-light-3 {
  color: #f5f5f5cb;
}
.g-6 {
  gap: 1.5rem;
}
.p-4 {
  padding: 1rem;
}
.g-9 {
  gap: 2.25rem;
}
.justify-end {
  justify-content: flex-end;
}
.topbar {
  /* max-width: 100vw; */
  display: none;
  @media screen and (max-width: 1024px) {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
}
.leftsidebar {
  width: 20vw;
  position: sticky;
  top: 0;
  left: 0;
  @media screen and (max-width: 1024px) {
    display: none;
  }
}
.leftsidebar-link {
  border-radius: 10px;
  transition: all 0.1s ease-out;
  &:hover {
    background-color: #877eff;
    .imgicon {
      filter: sepia(1) drop-shadow(2px 4px 6px black);
    }
  }
}
.leftsidebar-link > .active {
  border-radius: 10px;
  background-color: #877eff;
}
.invert-white {
  filter: sepia(1) drop-shadow(2px 4px 6px black);
}
.small-medium {
  font-size: 0.9rem;
  font-weight: 500;
}
.lg-base-medium {
  @media screen and (min-width: 1024px) {
    font-size: 1.1rem;
    font-weight: 500;
  }
}
.text-light-1 {
  color: #f5f5f5;
}
.text-light-3 {
  color: #7878a3;
}
.mb-4 {
  margin-bottom: 1rem;
}
.g-2 {
  gap: 0.5rem;
}
.hidden {
  display: none;
}
.subtle-semibold {
  font-size: 0.9rem;
  font-weight: 600;
}
.base-medium {
  font-size: 1.1rem;
  font-weight: 500;
}
.text-light-2 {
  color: #f5f5f5cb;
}
.text-light-4 {
  color: #5c5c7b;
}
.mt-full {
  margin-top: 100%;
}
.bottom-bar {
  display: none;
  @media screen and (max-width: 1024px) {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 1rem;
  }
}
.rounded-10px {
  border-radius: 10px;
}
.bg-primary-500 {
  background-color: #877eff;
}
.p-2 {
  padding: 0.5rem 1.5rem;
}
.singlebottombar {
  transition: all 0.15s ease-in-out;
}
.max-w-5xl {
  max-width: 90vw;
}
.flex-start {
  display: flex;
  justify-content: flex-start;
}
.justify-start {
  justify-content: start;
}
.text-left {
  text-align: left;
}
.bg-dark-3 {
  background-color: #101012;
}
.rounded-xl {
  border-radius: 1rem;
}
.cursor-pointer {
  cursor: pointer;
}
.p-6 {
  padding: 1.5rem;
}
.p-5 {
  padding: 1.25rem;
}
.lg-p-10 {
  @media screen and (min-width: 1024px) {
    padding: 2.5rem;
  }
}
.mt-5 {
  margin-top: 1.25rem;
}
.p-12 {
  padding: 3rem;
}
.h3-bold {
  font-size: 1.3rem;
  font-weight: 700;
}
.align-center {
  align-items: center;
}
.common-container-create-post {
  width: 50vw;
  @media screen and (max-width: 1024px) {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }
}
.w-12 {
  width: 3rem;
}
.lg-h-12 {
  @media screen and (min-width: 1024px) {
    height: 3rem;
  }
}
/* 'primary-500': '#877EFF',
        'primary-600': '#5D5FEF',
        'secondary-500': '#FFB620',
        'off-white': '#D0DFFF',
        'red': '#FF5A5A',
        'dark-1': '#000000',
        'dark-2': '#09090A',
        'dark-3': '#101012',
        'dark-4': '#1F1F22',
        'light-1': '#FFFFFF',
        'light-2': '#EFEFEF',
        'light-3': '#7878A3',
        'light-4': '#5C5C7B', */
